<%- include("header"); -%>

<div class="card contest-card">
    <div class="card-body">
      <h1 class="card-title"> <%= platform %></h1>
     <br>
      <a href="/<%= platform %>/future" class="card-link btn btn-lg btn-outline-light">Future Contests</a>
      <a href="/<%= platform %>/live" class="card-link btn btn-lg btn-outline-light">Live Contests</a>
      <a href="/<%= platform %>/past" class="card-link btn btn-lg btn-outline-light">Past Contests</a>
    </div>
  </div>
